@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{    
    margin: 0;
    padding:0;
}

body{
    overflow: hidden;
    
}
html{
    background-color: #0284C7;
}
.mainContainer{
    width: 100vw;
    height:100vh;
    display: grid;
    grid-template: repeat(2,auto) 1fr/minmax(200px,1fr) 5fr;
    grid-auto-flow: column;
    font-family: 'Roboto', sans-serif;
}

/* 
        slidebar
*/


.sliderbar{
    grid-row: 1/-1;
    display: grid;
    gap: 40px;
    align-content:flex-start;
    justify-items:flex-start;
    background-color: #0284C7;
    padding: 10px;
    
    overflow-y: scroll ;
    overflow-x: hidden;
    scrollbar-width: thin;
}

/* contents within sliderbar */

/* three parts of slidebar */
.sliderbar > div{
    display: grid;
    font-weight: 500;
    color: white;
    margin: 0 10px;
    gap: 10px;
    cursor: pointer;
}

.sliderbar > div:last-child{
    margin-bottom: 20px;
}

/* each small blocks inside slidebar */
.sliderbar > div > div{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
}

/* made the dashboard text larger than others */
.sliderbar > .head-sliderbar > div{
    font-size: 1.3rem;
}

/* icon of dashboard head */
.sliderbar .dashboard-icon.iconify{
    font-size: 2rem;
}




/* icons of sliderbar body */
.sliderbar .iconify{
    font-size: 1.2rem;
}
.iconContainer{
    width: fit-content;
    border-radius: 100%;
    display: flex;
    padding: 4px;
}
.iconContainer:hover{
    background-color: rgba(44, 42, 42, 0.1);
}
/* 
        slidebar end
*/

/* Nav bar */
.nav-bar,.mini-profile{
    padding: 10px;
    background-color: white;
}



/* .nav bar */
.nav-bar{
    display:flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
}



/* image */
.nav-bar > div > img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;
    user-select: none;
}

/* right side */
.nav-bar > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.nav-bar > div:last-child > .iconify {
    flex-shrink: 0;
}

/* icons */
.nav-bar .iconify,.openedMenu.iconContainer{
    font-size: 1.4rem;
    margin: 15px;
    color: black;
    cursor: pointer;
}

.openedMenu.iconContainer{
    display: none;
}

.iconContainer.openedMenu .iconify{
    margin:0;
    padding: 4px 4px 0px 4px;
}

.search{
    display: flex;
    align-items: center;
}

.backIcon{
    display: none;
}

/* search bar */
.searchbox{
    flex: 1;
    display: flex;
}

.nav-bar input{
    flex:1 0 auto;
    max-width: 80%;
    height: 20px;
    background-color: gainsboro;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 8px 20px;
    color: black;
    font-size: .9rem;
}

.nav-bar > input::placeholder{
    color: #0F172A;
}

/* name */
.name{
    font-size: calc(.5rem + 1vmin);
}

/*                  Nav bar End                     */

/*                  Mini-sub bar                       */
.mini-profile{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

}

/* image */
.mini-profile > img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 15px;
}

/* introduce text */
.mini-profile > div:nth-child(2) {
    user-select: none;
}

.mini-profile > div:nth-child(2) > div:first-child{
    font-size: .7rem;
}

/* Button container */
.mini-profile > div:last-child{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

/* right UI buttons */
.mini-profile > div:last-child > button{
    background-color: #0284C7;
    color: white;
    font-size: .8rem;
    font-weight: 500;
    font-family: inherit;

    padding: .4rem calc(.5rem + 1vmin);
    border: none;
    outline: none;
    border-radius: 30px;

    cursor: pointer;
}
.mini-profile > div:last-child > button:hover{
    background-color: #0369A1;
}

/*              Mini Sub Bar Ends                */


.main-content{
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 1fr minmax(100px,200px);
    grid-template-rows:200px;
    padding: 15px;
    gap: 10px;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    box-sizing: border-box;

}


.main-content .projectContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 15px;
    margin-top: 15px;
}

.project{
    position: relative;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    padding: 20px 20px 10px 20px;
    display: grid;
    grid-template-rows: 1fr auto;
    cursor: pointer;

}

.project:hover{
    background-color: rgb(236, 231, 231);
    transform: scale(1.05);
    z-index: 2;
}

/* Yello Decoration in the div */
.project > div:first-child{
    position: absolute;
    height: 100%;
    width: 10px;
    background-color: orange;
    border:none;
    left: 0;
    top: 0;
}

/* Inside text */
.project > div:nth-child(2){
    font-size: .6rem;
    font-family: inherit;
    color: gray;
}
.project > div:nth-child(2) > h1{
    font-size: .7rem;
    font-weight: 550;
    color: black;
    margin-bottom: 5px;
    word-spacing: 1.5px;
}
.project > div:nth-child(2) > div{
    text-overflow: ellipsis;
}

/* Icons in the projects div */

.project > div:last-child{
    display: flex;
    justify-content: end;
    gap: 25px;
    padding-top: 5px;
}
.project > div:last-child > .iconify{
    font-size: 1.1rem;
    cursor: pointer;
}

.project > div:last-child > .iconify:hover{
    transform: scale(1.2);
}

/* Right side of main content */
.AnnouncementsAndTrending{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    height: fit-content;
}

.AnnouncementsAndTrending > div{
    /* width: 100%; */
    padding: 10px;
}

.AnnouncementsAndTrending > div > div{
    font-weight: 500;
    font-size: .7rem;
    background-color: white;
    padding: 5px 15px;
    line-height:1.5;
    border-radius: 10px;
    margin: 10px 0;
}

.AnnouncementsAndTrending > div > div > div{
    border-bottom: solid 1px gainsboro;
    color: gray;
    padding: 10px 0;
}


.AnnouncementsAndTrending > div > div > div:last-child{
    border: none;
}

.AnnouncementsAndTrending > div > div > div > h2{
    color: black;
    font-size: .7rem;
    font-weight: 580;
    word-spacing: 1px;
    cursor: pointer;
}


/* Trending */
.Trending > div{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 10px 10px;
    align-content: center;
    gap: 15px;
    cursor: pointer;
}

.Trending > div > div:nth-of-type(1){
    color: black;

}

.Trending > div > div:last-child{
    font-size: .6rem;
}

.trendingProfile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-row: 1/-1;
}


@media(max-width:600px){
    .sliderbar{
        display: none;
        position:absolute;  
        width: 100vw;
        height: 100vh;
        z-index: 1;
        top: 0; 
        right: 0;
    }

    .sliderbar > div {
        width: 100%;
        padding: 0 calc(10px + 5vmin);
    }

    .sliderbar > div > div {
        padding: 5px 0;
    }

    .mainContainer{
        grid-template: repeat(2,auto) 1fr/1fr;
    }


    .openedMenu.iconContainer{
        display: inline;
    }

    .main-content{
        background-color: #0284C7;

    }
}

@media(max-width:500px){
    .main-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: #0284C7;   
    }
    .main-content .projectContainer{
        grid-template-columns: repeat(auto-fit,minmax(200px,400px));
    }
    .AnnouncementsAndTrending{
        grid-template-columns: minmax(200px,400px);
    }
    .AnnouncementsAndTrending>div:first-child{
        margin-top:15px ;
        padding: 10px;
    }
    .AnnouncementsAndTrending > div > div{
        margin: 15px 0 0 0;
    }

    .nav-bar>div:last-child>div:last-child{
        display: none;
    }
}

@media(max-width:420px){
    .nav-bar>div:last-child>div:last-child{
        display: block;
    }
    .searchbox{
        display: none;
    }
    .backIcon{
        display: none;
    }
    
    .mini-profile{
        grid-template-columns: 1fr;
    }
    .mini-profile>img,.mini-profile>div:nth-of-type(1){
        display: none;
    }
}
